# Entornos Virtuales
marketScorer/

# Archivos para paquetes
.env

# Archivos de Python compilados
__pycache__/

# Herramientas de testing
.coverage
htmlcov/
.pytest_cache/

# Archivos temporales
data/temp/*.json
data/temp/*.xls
.vscode/