# Entornos Virtuales
marketScorer/

# Archivos para paquetes
core/__init__.*
config/__init__.*

# Archivos de Python compilados
__pycache__/

# Herramientas de testing
.coverage
htmlcov/
.pytest_cache/
